.banner {
  background-color: rgb(255, 236, 209);
  height: 20%;
  text-align: left;
  padding-left: 13.5rem;
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
  padding-right: 13.5rem;
}
.bannerContent {
  width: 55%;
  word-wrap: break-word;
}

.bannerTitle {
  font-size: 50px;
  color: #15616d;
}
.bannerSubText {
  font-size: 30px;
  color: #15616da4;
}

.bannerGcse {
  background-color: #78290f3f;
  height: 100px;
  text-align: 10px 150px 10px 200px;
}

.mainBody {
  height: 400px;
  width: 650px;
  display: flex;

  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 0px;
  background-color: whitesmoke;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
@media (min-width: 1500px) {
  .mainBody {
    height: 400px;
    width: 65%;
    display: flex;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 0px;
    background-color: whitesmoke;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}
/* below for the second card */

.mainBody2 {
  height: 200px;
  width: 650px;
  display: flex;

  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 0px;
  background-color: whitesmoke;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
@media (min-width: 1500px) {
  .mainBody2 {
    height: 200px;
    width: 65%;
    display: flex;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 0px;
    background-color: whitesmoke;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

.mainBodyImage {
  height: 100%;
  width: 400px;
}
.mainBodyImage2 {
  height: 100%;
  width: 300px;
}

.mainBodyContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.mainBodyTitle {
  font-size: 25px;
  padding-top: 1.5rem;
}
.mainBodySubText {
  font-size: 17px;
}
