.banner {
  background-color: #15616d3f;
  height: 200px;
  text-align: left;
  padding-left: 27rem;
}

.bannerTitle {
  font-size: 100px;
}

.bannerGcse {
  background-color: #78290f3f;
  height: 200px;
  text-align: 20px 300px 20px 400px;
}

.mainBody {
  height: 800px;
  width: 3000px;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 0px;
  background-color: whitesmoke;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.mainBodyImage {
  height: 800px;
  width: 1000px;
}

.mainBodyContent {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 3rem;
  padding-right: 3rem;
}

.mainBodyTitle {
  font-size: 100px;
}

.mainBodySubText {
}
