.footer {
  background-color: white;
  border-top: 3px solid #78290f;
  padding: 20px 0px;
  color: #78290f;
  align-self: end;
  display: flex;
<<<<<<< HEAD
  flex-direction: row;
  justify-content: center;
}

.footerText {
  font-size: 15px;
  margin-bottom: 0;
  margin-left: 50px;
  margin-right: 50px;
=======
  justify-content: center;
  flex-direction: row;
}

.footerText {
  font-size: 17px;
  margin-bottom: 0;
  margin: 0 8%;
>>>>>>> b43c461649c6619908f44f795093f6b4334ca351
}
