.footer {
  background-color: white;
  border-top: 3px solid #78290f;
  padding: 20px 0px;
  color: #78290f;
  align-self: end;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.footerText {
  font-size: 17px;
  margin-bottom: 0;
  margin: 0 8%;
}
