.navBarAlign > ul {
  text-align: center;
}
.navbar {
  background: white;
  height: 140px;

  border-bottom: 3px solid #78290f;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.centerContentNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 85%;
}
.fontNav {
  font-size: 20px;
}

.logo {
  width: 400px;
  height: 100%;
  padding-right: 50px;
  margin: 0px;
}

.navbar-nav > li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-text {
  padding-left: 75px;
  padding-right: 30px;
}
li.navBarStyling {
  padding-left: 50px;
  padding-right: 50px;
  color: #78290f;
}

.gsceBanner {
  background-color: blue;
}
