.strengthAndWeakness {
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    background-color: #15616d;
}

.strength {
    margin: 0 2%;
    border: solid 5px #ff7d00;; 
    width: 25%;
    border-radius: 5px;
    font-family: 'Noto Serif', serif;
}

.resultSection {
    margin: 5%;
    margin-bottom: 2%;
    padding: 2% 5% 5%;
    border: solid 8px #78290f;
    background-color: #15616d;
}

.resultScore h3, 
h2 {
    background-color: #15616d;
    color: #ffecd1;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
}

.improve {
    border-radius: 5px;
    border: 5px solid #ff7d00;
}

.tryAgain {
    width: 200px;
    background-color:#78290f;
    animation: glowingTryAgain 1300ms infinite;
}

.homePage {
  width: 200px;
  background-color:#ff7d00;
  /* animation: glowingHomePage 1300ms infinite; */
}

@keyframes glowingTryAgain {
    0% {
      background-color: #78290f;
      box-shadow: 0 0 3px #e89579;
    }
    50% {
      background-color: #15616d;
      box-shadow: 0 0 10px #32a3b5;
    }
    100% {
      background-color: #78290f;
      box-shadow: 0 0 3px #e88666;
    }
  }

  /* @keyframes glowingHomePage {
    0% {
      background-color: #ff7d00;
      box-shadow: 0 0 3px #f7e2cf;
    }
    50% {
      background-color: #fadabd;
      box-shadow: 0 0 10px #fe8d24;
    }
    100% {
      background-color: #ff7d00;
      box-shadow: 0 0 3px #f7e2cf;
    }
  } */